<header>
        <div class="jumbotron jumbotron-fluid">
            <div class="container">
                <h1 class="display-4">Kırtasiye Sitesi</h1>
                <p class="lead">Lorem ipsum dolor sit amet consectetur adipisicing elit. Et quia fuga temporibus laborum culpa sit porro, suscipit eos quae possimus aperiam provident est iste, recusandae molestias, obcaecati nobis delectus officia.</p>
            </div>

        </div>
    </header>