<div class="navbar bg-secondary navbar-light navbar-expand-sm ">
        <div class="container">
            <a href="/" class="navbar-brand  btn btn-dark text-white ">Kırtasiye e-ticaret Sitesi</a>
            <ul class="navbar-nav mr-auto">
                <li  class="nav-item  mr-2">
                    <a href="/products" class="nav-link btn btn-outline-dark text-white">Ürünler</a>
                </li>
                @if(User.Identity.IsAuthenticated)
                {
                    <li class="nav-item  mr-2">
                            <a href="" class="nav-link btn btn-outline-dark text-white">Hakkında</a>
                        </li>

                    if(User.IsInRole("admin"))
                    {                   
                        <li class="nav-item  mr-2">
                            <a href="/admin/products" class="nav-link btn btn-outline-dark text-white">Ürünler</a>
                        </li>
                        <li class="nav-item  mr-2">
                            <a href="/admin/categories" class="nav-link btn btn-outline-dark text-white btn">Kategoriler</a>
                        </li>
                        <li class="nav-item  mr-2">
                            <a href="/admin/role/list" class="nav-link btn btn-outline-dark text-white">Roller</a>
                        </li>
                        <li class="nav-tem mr-2">
                            <a href="/admin/user/list" class="nav-link btn btn-outline-dark text-white">Kullanıcılar</a>
                        </li>
                    }
                }
            </ul>
            <ul class="navbar-nav ml-auto">

                @if(User.Identity.IsAuthenticated)
                {
                    <li class="nav-item">
                        <a href="/account/manage" class="nav-link">
                            @User.Identity.Name
                        </a>
                    </li>
                    <li class="nav-item">
                        <a href="/account/logout" class="nav-link btn btn-outline-dark text-white">Çıkış</a>
                    </li>
                }
                else
                {                    
                    <li class="nav-item">
                        <a href="/account/login" class="nav-link btn btn-outline-dark text-white">Giriş</a>
                    </li>
                    <li class="nav-item">
                        <a href="/account/register" class="nav-link btn btn-outline-dark text-white">Kaydol</a>
                    </li>    
                }
            </ul>

            
        </div>
</div>