<div class="navbar bg-secondary navbar-light navbar-expand-sm ">
        <div class="container">
            <a href="/" class="navbar-brand  btn btn-dark text-white btn-lg">Kırtasiye e-ticaret Sitesi</a>
            <ul class="navbar-nav mr-auto">
                <li  class="nav-item  mr-2">
                    <a href="/products" class="nav-link btn btn-outline-dark text-white">Ürünler</a>
                </li>
                <li class="nav-item  mr-2">
                    <a href="" class="nav-link btn btn-outline-dark text-white">Cart</a>
                </li>
                  <li class="nav-item  mr-2">
                    <a href="" class="nav-link btn btn-outline-dark text-white">Orders</a>
                </li>
                </li>
                <li class="nav-item  mr-2">
                    <a href="/admin/products" class="nav-link btn btn-outline-dark text-white">Admin-Ürünler</a>
                </li>
                <li class="nav-item  mr-2">
                    <a href="/admin/categories" class="nav-link btn btn-outline-dark text-white">Admin-Kategoriler</a>
                </li>
            </ul>

            
        </div>
    </div>