<div class="navbar bg-dark navbar-dark navbar-expand-sm">
        <div class="container">
            <a href="/" class="navbar-brand">Kırtasiye e-ticaret Sitesi</a>
            <ul class="navbar-nav mr-auto">
                <li class="nav-item">
                    <a href="/products" class="nav-link">Ürünler</a>
                </li>
                <li class="nav-item">
                    <a href="" class="nav-link">Cart</a>
                </li>
                  <li class="nav-item">
                    <a href="" class="nav-link">Orders</a>
                </li>
                </li>
                <li class="nav-item">
                    <a asp-controller="admin" asp-action="createproduct" class="nav-link">Admin</a>
                </li>
                <li class="nav-item">
                    <a href="/admin/products" class="nav-link">Admin Ürünleri</a>
                </li>
            </ul>

            
        </div>
    </div>